body{
    margin: 150px;
    padding: 0;
    min-height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.heart{
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px red;
    animation: palpitar 0.5s linear infinite alternate;
}
.contenido{
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
}

@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.10);}
    80%{transform: rotate(45deg) scale(1.0);}
    100%{transform: rotate(45deg) scale(0.8);}
}
h1{
    color: white;
}
h2{color: white;}

.heart::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    right: 50%;
    border-radius: 50%  ;
    box-shadow: 20px 20px 150px red;
}

.heart::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px red;
}